
<div class="sub-hero <%= page_style(@page) -%>">
    <div class="container">
    	<div class="row spacer thirty"></div>
    	<div class="row spacer thirty"></div>
    	<div class="row">
    		<div class="col-md-12">
    			
    			
    		</div>
    	</div>
    </div>
</div>



<div class="container">
	<div class="row spacer thirty"></div>
	<div class="row spacer thirty"></div>
	<div class="row">

	<div class="col-md-3 col-sm4">
		<!-- application_helper menu presenter -->
		<%= sub_menu_pages.to_html %>
    
		<div class="row spacer thirty"></div>
		<p>
			<span class="strong" sytle="font-size:115%;">Quick Contact</span>
			<br>
			<i class="fa fa-phone fa-fw"></i>
			680-444-4343
			<br>
			info@viroqua.com
		</p>
	</div>
	<div class="col-md-9 col-sm-8">
  	<div class="row">
  		<div class="col-md-10">
        <%= image_tag 'chamber.jpg', class: 'img-responsive' %>
      
  		  <%= render '/refinery/content_page' %>
      </div>
  		<div class="col-md-2" style-"background-color:#fefefe;">
  			<% if @page.slug == 'chamber-mainstreet' %>
          <%= render '/refinery/shared/right_chamber' %>
        <% elsif @page.slug == 'viroqua-tourism' %>
          <%= render '/refinery/shared/right_tourism' %>
        <% elsif @page.slug == 'city-of-viroqua' %>
          <%= render '/refinery/shared/right_city' %>

        <% end %>
  		</div>
  	</div>	
	</div>
	</div>
	
	



</div>
</div>
