<!-- Static navbar -->
    <div class="top-header">
      <ul>
        <a href=""><li><i class="fa fa-twitter"></i> @viroqua</li></a>
        <a href=""><li><i class="fa fa-facebook"></i> facebook.com/viroqua</li></a>
        <a href=""><li><i class="fa fa-envelope"></i> info@viroqua.gov</li></a>
        <a href=""><li><i class="fa fa-phone"></i> 608-637-2575</li></a>
      </ul>
    </div>

<%#= top_menu.to_html %>

<!-- STATIC HTML WORKING -->
<div class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1><a class="navbar-brand" href="/"></a></h1>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right <%= page_style(@page) -%>">
        <li class="<%= 'active' if @page.slug == 'city-of-viroqua' %>"><%= link_to 'City of Viroqua', '/city-of-viroqua' %> </li>
        <li class="<%= 'active' if @page.slug == 'chamber-mainstreet' %>"><%= link_to 'Chamber Mainstreet', '/chamber-mainstreet' %></li>
        <li class="<%= 'active' if @page.slug == 'viroqua-tourism' %>"><%= link_to 'Viroqua Tourism', '/viroqua-tourism' %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>



<!-- http://stackoverflow.com/questions/19423796/refinerycms-apply-bootstrap-styles-to-navigation-menu -->
<%#= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>

<!--
<div class="navbar">
  <div class="navbar-header">
  <%#= navigation_menu.to_html %>
</div>
</div>
-->